body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  max-width: 1600px;
  margin: auto;
  display: flex;
  & > div {
    text-align: center;
    flex: 50%;
    padding: 20px;
    border: 1px solid black;
  }
}

.results {
  margin-right: 20px;
}

.saved {
  margin-left: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fa-star {
  position: absolute;
  right: 20px;
  bottom: 22px;
  &.fas {
    color: #edb200;
  }
}